/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #000 }  /* string content */
  .kwd { color: #000 }  /* a keyword */
  .com { color: #000 }  /* a comment */
  .typ { color: #000 }  /* a type name */
  .lit { color: #000 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #000 }
  .tag { color: #000 }  /* a markup tag name */
  .atn { color: #000 }  /* a markup attribute name */
  .atv { color: #000 }  /* a markup attribute value */
  .dec, .var { color: #000 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #000 }
  .kwd { color: #000; font-weight: bold }
  .com { color: #000; font-style: italic }
  .typ { color: #000; font-weight: bold }
  .lit { color: #000 }
  .pun, .opn, .clo { color: #000 }
  .tag { color: #000; font-weight: bold }
  .atn { color: #000 }
  .atv { color: #000 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {   padding: 30px;  background-color: #f0f0f0; white-space: pre-wrap;}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }
