@charset "UTF-8";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,700);
/*========================================================
                      Main Styles
=========================================================*/
body {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}

h1 {
  font-size: 56px;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-size: 45px;
  line-height: 1.37;
  color: #2B5AC7;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  h2 {
    font-size: 34px;
  }
}

h3 {
  color: #2B5AC7;
  font-size: 34px;
  line-height: 1.47;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.66;
  margin-top: 45px;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.7;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  h5 {
    font-size: 16px;
  }
}

h6 {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  h6 {
    font-size: 14px;
    font-weight: 500;
  }
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul, ol {
  margin-top: 10px;
  margin-bottom: 20px;
}
ul figure:last-child, ol figure:last-child {
  margin-bottom: 45px;
}

article {
  margin-top: 80px;
  margin-bottom: 60px;
}
article article {
  padding-right: 10%;
}
article a {
  color: #2B5AC7;
}
article a:hover {
  text-decoration: underline;
}
@media (max-width: 1599px) {
  article article {
    padding-right: 0;
  }
}

figure {
  margin-top: 20px;
  margin-bottom: 40px;
}

em {
  font-weight: 400;
  color: #000000;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

.page-wrap {
  overflow: hidden;
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

hr {
  height: 1px;
  border: none;
  background: #e4e4e4;
}

.color-1 {
  color: #1d88de;
}

.color-2 {
  color: #ec4034;
}

.color-3 {
  color: #4aab4d;
}

.color-4 {
  color: #ff9700;
}

.relative {
  position: relative;
}

.img-polaroid {
  width: auto;
  padding: 20px;
  background-color: #cecece;
  text-align: center;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.15);
}

.clearfix {
  clear: both;
  overflow: hidden;
}

b, strong {
  font-weight: 700;
}

.files_structure li .fa {
  margin-top: 3px;
  margin-right: 10px;
  color: #4d77d8;
  font-size: 16px;
}
.files_structure li ul {
  margin-left: 20px;
}
.files_structure li:first-child, .files_structure li {
  margin-top: 10px;
}

.inline-term:before, .inline-term:after {
  display: table;
  content: "";
  line-height: 0;
}
.inline-term:after {
  clear: both;
}
.inline-term dt {
  font-weight: 700;
}
.inline-term dt, .inline-term dd {
  display: inline;
}
.inline-term dt + dd {
  position: relative;
  padding-left: 20px;
}
.inline-term dt + dd:before {
  position: absolute;
  left: 5px;
  content: '–';
}

.fa {
  line-height: inherit;
}

.fa-angle-right {
  padding-right: 5px;
  font-weight: 700;
}

/*=======================================================
                        Components
=========================================================*/
/*===============  Marked List  ==================*/
.marked-list > li {
  position: relative;
  padding-left: 20px;
}
.marked-list > li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 4px;
  height: 4px;
  border: 1px solid #000;
  border-radius: 50%;
}
.marked-list + li {
  margin-top: 10px;
}

/*===============  Marked List  ==================*/
.log-list > li {
  margin-top: 10px;
  position: relative;
  padding-left: 20px;
}
.log-list > li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 4px;
  height: 4px;
  border: 1px solid #000;
  border-radius: 50%;
}
.log-list > li p {
  margin-top: 0;
}

/*===============  Index List   ==================*/
.index-list {
  counter-reset: li;
}
.index-list > li {
  position: relative;
  padding-left: 20px;
}
.index-list > li:before {
  content: counter(li,decimal) ".";
  counter-increment: li;
  position: absolute;
  left: 0;
  font-weight: 500;
}
.index-list > li + li {
  margin-top: 10px;
}

/*==================== Search ====================*/
.search {
  position: relative;
}
.search .fa {
  color: #fff;
}

#search {
  border: none;
}

.search-results {
  position: absolute;
  left: 0;
  top: 21px;
  text-align: left;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}

.search-results > * {
  padding: 10px;
}

/*==================== Blockquote ====================*/
blockquote {
  padding: 21px 30px 25px;
  border-left: 8px solid;
  font-size: 16px;
  line-height: 26px;
  background: #ffffff;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.22);
}

/*==================== Box ====================*/
.box {
  min-height: 324px;
  border-radius: 3px;
  background: #eef5fb;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.22);
}

/*==================== Chapter Nav ====================*/
.chapter-nav {
  border-left: 5px solid rgba(29, 136, 222, 0.25);
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  padding: 0 0 0 20px;
}
.chapter-nav h4 + ul {
  margin-top: 22px;
}
.chapter-nav h4 {
  margin-top: 0;
  line-height: 16px;
  color: #757575;
}
.chapter-nav a {
  color: #1d88de;
}
.chapter-nav a:hover {
  color: #47a0e7;
}
.chapter-nav li + li {
  margin-top: 10px;
}

/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 300px;
  padding: 56px 0 56px;
  z-index: 9999996;
  text-align: left;
  color: #333;
  background: #f9f9f9;
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  overflow: hidden;
}
.rd-mobilemenu.active {
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu .logo {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  height: 112px;
  background: #2651b2;
  padding: 33px 24px;
  text-align: left;
  box-sizing: border-box;
  color: #fff;
}
.rd-mobilemenu .logo img {
  float: left;
  margin-right: 10px;
}
.rd-mobilemenu .logo span {
  font-family: 'Oswald', sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 32px;
  padding-top: 5px;
}
@media (max-width: 479px) {
  .rd-mobilemenu .logo img {
    max-width: 60px;
  }
  .rd-mobilemenu .logo span {
    font-size: 24px;
    line-height: 24px;
  }
  .rd-mobilemenu .logo small {
    font-size: 12px;
    line-height: 15px;
  }
}
.rd-mobilemenu .panel {
  top: 130px;
  position: absolute;
  right: 0;
  text-align: right;
  padding: 0 18px;
  z-index: 1;
}
.rd-mobilemenu .copyright {
  text-align: center;
  position: absolute;
  padding: 8px;
  border-top: 1px solid #BDBDBD;
  bottom: 56px;
  left: 0;
  right: 0;
}
.rd-mobilemenu:before {
  content: '';
  position: absolute;
  width: 10px;
  top: 0;
  right: -10px;
  bottom: 0;
  box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}
@media (max-width: 479px) {
  .rd-mobilemenu {
    width: 250px;
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
}

.rd-mobilemenu_ul {
  position: absolute;
  top: 184px;
  bottom: 104px;
  margin: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  max-height: 100%;
  overflow: auto;
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a:hover, .rd-mobilemenu_ul a.active, .rd-mobilemenu_ul a.opened {
  background: #eee;
  color: #333;
}
.rd-mobilemenu_ul ul {
  margin: 0;
}
.rd-mobilemenu_ul ul a {
  padding-left: 50px;
}
.rd-mobilemenu_ul ul a.focus {
  color: #2B5AC7;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel_title {
  position: absolute;
  left: 64px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  right: 300px;
  bottom: 61px;
  color: #FFF;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1599px) {
  .rd-mobilepanel_title {
    right: 64px;
  }
}
@media (min-width: 1068px) and (max-width: 1301px) {
  .rd-mobilepanel_title {
    width: 940px;
  }
}
@media (min-width: 878px) and (max-width: 1067px) {
  .rd-mobilepanel_title {
    width: 748px;
  }
}
@media (max-width: 877px) {
  .rd-mobilepanel_title {
    width: auto;
  }
}
@media (max-width: 479px) {
  .rd-mobilepanel_title span {
    display: none;
  }
}

.rd-mobilepanel {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 256px;
  background: #2B5AC7;
  color: #FFF;
  z-index: 9999997;
}
.rd-mobilepanel.fixed {
  position: fixed;
  height: 56px;
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.rd-mobilepanel.fixed .rd-mobilepanel_title {
  -webkit-transform: translateY(50.25px);
      -ms-transform: translateY(50.25px);
          transform: translateY(50.25px);
  font-size: 24px;
}
.rd-mobilepanel .panel {
  position: absolute;
  right: 10px;
  bottom: 14px;
  -webkit-transition: 0.3s all cubic-bezier(0.2, 1, 0.3, 1);
  transition: 0.3s all cubic-bezier(0.2, 1, 0.3, 1);
}

.page-content.active .panel {
  right: 315px;
}

body.navbar-stickup {
  padding-top: 256px;
}

body.navbar-fixed {
  padding-top: 56px;
}

.page-content .page {
  position: relative;
  z-index: 9999996;
}

.rd-mobilemenu, .page-content .page, .page-content .rd-mobilepanel, .page-content .rd-mobilepanel_toggle {
  -webkit-transition: 1s all cubic-bezier(0.2, 1, 0.3, 1), 0s height;
  transition: 1s all cubic-bezier(0.2, 1, 0.3, 1), 0s height;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
}

.page-content.active .page, .page-content.active .rd-mobilepanel, .page-content.active .rd-mobilepanel_toggle {
  -ms-transform: translateX(299px);
  -webkit-transform: translateX(299px);
  transform: translateX(299px);
}
@media (max-width: 479px) {
  .page-content.active .page, .page-content.active .rd-mobilepanel, .page-content.active .rd-mobilepanel_toggle {
    -ms-transform: translateX(249px);
    -webkit-transform: translateX(249px);
    transform: translateX(249px);
  }
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
  z-index: 9999998;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #FFF;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -ms-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

.nav {
  display: none;
}

@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*==================== Stuck ====================*/
.stuck {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  padding-top: 123px;
  padding-bottom: 69px;
  background: #2B5AC7;
}
.stuck .container {
  position: relative;
}
.stuck .select_wrap {
  position: absolute;
  top: 19px;
  right: 0;
}
.stuck .title {
  padding-right: 200px;
}
.stuck .section-title {
  display: inline-block;
}
.stuck .section-title:after {
  content: "\f105";
  font-family: FontAwesome;
  padding: 0 10px;
}
.stuck .section-title + .chapter-title {
  display: inline-block;
}
.stuck .section-title, .stuck .chapter-title {
  font-size: 54px;
  line-height: 64px;
  font-weight: 500;
}
@media (max-width: 1299px) {
  .stuck .container {
    width: 100%;
    padding: 0 0 0 64px;
  }
  .stuck .title {
    padding-right: 250px;
  }
  .stuck .select_wrap {
    right: 50px;
  }
}
@media (max-width: 1199px) {
  .stuck {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .stuck .section-title, .stuck .chapter-title {
    font-size: 46px;
    line-height: 46px;
  }
  .stuck .select_wrap {
    top: 0;
  }
}
@media (max-width: 979px) {
  .stuck {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .stuck .section-title, .stuck .chapter-title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  .stuck {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .stuck .title {
    padding-right: 0;
  }
  .stuck .section-title, .stuck .chapter-title {
    font-size: 28px;
    line-height: 28px;
  }
  .stuck .select_wrap {
    position: static;
    margin-top: 20px;
  }
  .stuck .section-title {
    display: none;
  }
}

.isStuck {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.isStuck, .chapter {
  padding-top: 19px;
  padding-bottom: 20px;
}
.isStuck .section-title, .isStuck .chapter-title, .chapter .section-title, .chapter .chapter-title {
  font-size: 26px;
  line-height: 26px;
}
.isStuck .select_wrap, .chapter .select_wrap {
  display: none;
}
@media (max-width: 767px) {
  .isStuck .section-title, .isStuck .chapter-title, .chapter .section-title, .chapter .chapter-title {
    font-size: 26px;
    line-height: 26px;
  }
}

/*==================== Navbar ====================*/
.select {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
.select select {
  display: none;
}
.select .pseudo-select {
  padding-left: 8px;
  padding-right: 20px;
  cursor: pointer;
  color: #FFF;
  opacity: .9;
}
.select .pseudo-select:before {
  content: "\f0d7";
  font-family: FontAwesome;
  position: absolute;
  top: 1px;
  right: 6px;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.select .pseudo-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -1px;
  overflow: hidden;
  color: #212121;
  background: #FFF;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.12);
}
.select .pseudo-dropdown li a {
  display: block;
  color: inherit;
  box-sizing: border-box;
  opacity: 0;
  height: 0;
  padding: 0px 8px;
  line-height: 26px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.select .pseudo-dropdown li.selected, .select .pseudo-dropdown li:hover a {
  color: #009688;
  background: #EEE;
}
.select.opened {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.12);
}
.select.opened .pseudo-select {
  color: #2D2D2D;
  background: #FFF;
  opacity: 1;
}
.select.opened .pseudo-select:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.select.opened .pseudo-dropdown {
  padding: 10px 0 6px 0;
  border-top: 1px solid #D2D2D2;
}
.select.opened .pseudo-dropdown li a {
  opacity: 1;
  height: 26px;
  -webkit-animation: open 0.3s 1 forwards;
  -ms-animation: open 0.3s 1 forwards;
  animation: open 0.3s 1 forwards;
}
@-webkit-keyframes open {
  0% {
    opacity: 0;
    height: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
    height: 26px;
  }
  100% {
    opacity: 1;
    height: 26px;
  }
}
@-ms-keyframes open {
  0% {
    opacity: 0;
    height: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
    height: 26px;
  }
  100% {
    opacity: 1;
    height: 26px;
  }
}
@keyframes open {
  0% {
    opacity: 0;
    height: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
    height: 26px;
  }
  100% {
    opacity: 1;
    height: 26px;
  }
}
.alert {
  position: relative;
  border-left: transparent 8px solid;
  margin: 50px 0;
  padding: 30px;
  background: #FFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 34px;
}
.alert.alert-success {
  border-color: #A5D6A7;
  color: #A5D6A7;
}
.alert.alert-info {
  border-color: #1D88DE;
  color: #1D88DE;
}
.alert.alert-warning {
  border-color: #FF9700;
  color: #FF9700;
}
.alert.alert-danger {
  border-color: #EF9A9A;
  color: #EF9A9A;
}
@media (max-width: 479px) {
  .alert {
    font-size: 16px;
    line-height: 28px;
  }
}

/*==================     ToTop     ======================*/
.toTop {
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 52px;
  color: #fff;
  background: #2B5AC7;
  border-radius: 50%;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.15);
  -ms-transform: translateY(100px);
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: 0.3s all cubic-bezier(0.2, 1, 0.3, 1);
  transition: 0.3s all cubic-bezier(0.2, 1, 0.3, 1);
  position: fixed;
  right: 40px;
  bottom: 40px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 9999999;
}
.toTop:hover {
  color: #fff;
  background: #2651b2;
  text-decoration: none;
}
.toTop.active {
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

@media (max-width: 479px) {
  .toTop {
    width: 48px;
    height: 48px;
    line-height: 44px;
    bottom: 11px;
    right: 11px;
  }
}
.mobile .toTop,
.tablet .toTop {
  display: none !important;
}

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: #2B5AC7;
  color: #ffffff;
}
header h1, header h2, header h3, header h4, header h5, header h6 {
  color: #ffffff;
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
}
main *:first-child {
  margin-top: 0;
}
main *:last-child {
  margin-bottom: 0;
}
main > .container {
  padding-right: 14%;
}
@media (max-width: 1599px) {
  main > .container {
    padding-right: 0;
  }
}

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer:before, footer:after {
  display: table;
  content: "";
  line-height: 0;
}
footer:after {
  clear: both;
}

.copyright {
  margin: 0;
}
