/*==================	 RD Mobile Menu		=====================*/
$rd-menu-toggle-preset: "button-lines-cross-2";

$rd-mobilepanel-height: 56px;
$rd-button-size: 48px;
$rd-icon-size: 26px;
$rd-menu-width: 350px;

.rd-mobilemenu {
	@include transition(.3s all ease);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9999999;
	text-align: left;

	&.active { right: 0; }
}
	
.rd-mobilemenu_ul {
	@include transition(0.3s ease);
	@include transition(0.3s cubic-bezier(.55, 0, .1, 1));
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: $rd-menu-width;
	padding: 140px 10px 100px 40px;
	box-sizing: border-box;
	overflow: auto;
	margin-top: 0;

	font-size: 14px;
	line-height: 18px;
	font-weight: 700;

	color: #ffffff;
	background: nth($sidebar-schemes, 1);
	@include box-shadow(5px 5px 9px 0px rgba(0,0,0,0.22));
	@include transform(translateX(-$rd-menu-width));

	.rd-mobilemenu.active & {
		@include transform(translateX(0));
	}

	a { 
		color: inherit;
		font-weight: 500;
		}

	li + li { margin-top: 22px; }

	ul {
		display: none;
		padding: 17px 0 4px 18px;
		margin-top: 0;
		font-size: 13px;
		line-height: 22px;
		font-weight: 400;

		li + li { margin-top: 10px; }
	}

	.open {
		@include transition(.3s all ease);
		display: inline-block;
		margin-top: -1px;
		margin-left: 5px;
		font-size: 16px;
		line-height: 18px;
		cursor: pointer;
		&:before {
			content: "\f107";
			font-family: FontAwesome;
		}
	}
}

.rd-mobilemenu_ul a:hover,
.rd-mobilemenu_ul .open:hover,
.rd-mobilemenu_ul li.opened > a,
.rd-mobilemenu_ul li.opened .open,
.rd-mobilemenu_ul li.active {
	color: lighten(desaturate(adjust_hue(nth($sidebar-schemes, 1), -0.6098901098901024), 1.6079965232507334%), 22.745098039215684%);
}

.rd-mobilepanel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}

//===========	 Mobilepanel Toggle Presets	 ==============

// Hamburger
@mixin button-lines() {
	span {
		position: relative;
		display: block;
		margin: auto;
		@include transition(all .3s ease);

		&:after,
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: (round($rd-icon-size / 6)) * -2;
			@include transition(all .3s ease);
		}

		&:after {
			top: (round($rd-icon-size / 6)) * 2;
		}

		&:after,
		&:before,
		& {
			background: #ffffff;
			width: $rd-icon-size;
			height: round($rd-icon-size / 6);
			backface-visibility: hidden;
			@include border-radius(2px);
		}
	}
}

//===============	 Mobilepanel Toggle	 =================
.rd-mobilepanel_toggle {
	@include transition(transform .3s ease);
	position: fixed;
	top: 10px;
	left: 8px;
	width: $rd-button-size;
	height: $rd-button-size;

	@include button-lines();
}

.menu { display: none; }

.logo {
	@include transition(0.3s cubic-bezier(.55, 0, .1, 1));
	position: fixed;
	top: 24px;
	left: -310px;
	z-index: 99999999;
}

.copyright {
	@include transition(0.3s cubic-bezier(.55, 0, .1, 1));
	position: fixed;
	bottom: 24px;
	left: -310px;
	z-index: 99999999;
	width: 255px;
	padding-top: 18px;
}

@media (min-width: 1550px) {
	.stuck, main, footer { padding-left: 350px; }

	.rd-mobilemenu {
		display: block;

		&_ul {
			@include transform(translateX(0));
		}
	}

	.logo, .copyright {
		left: 40px;
	}
}

@media (max-width: 1549px) {
	.rd-mobilemenu, .rd-mobilepanel {
		display: block;
	}

	.rd-mobilemenu_ul {
		padding: 100px 10px 100px 40px;
	}

	.logo, .copyright {
		.sidebar & {
			left: 40px;
		}
	}
} 

@media (max-width: 479px) {

	.rd-mobilemenu_ul {
		padding: 80px 10px 80px 20px;
		width: 240px;
		@include transform(translateX(-240px));

		ul {
			padding: 10px 0 0 5px;
			li + li { margin-top: 5px; }
		}
	}

	.logo {
		top: 15px;
	}

	.copyright {
		padding-top: 10px;
		bottom: 15px;
		font-size: 12px;
	}

	.logo, .copyright {
		width: 200px;

		.sidebar & {
			left: 20px;
		}
	}
} 